/* commented to avoid tailwind from injecting base styles */

/* @tailwind base; */

.font-black {
  font-weight: 900
}

.text-sky-400 {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity))
}